<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h2>Thêm mới khóa học</h2>
    <form th:action="@{/courses/add}" method="post" th:object="${courseDTO}">
        <label>Tên khóa học:</label>
        <input type="text" th:field="*{name}"/> <span th:errors="*{name}" class="error"></span><br/>
        <label>Mô tả:</label>
        <textarea th:field="*{description}"></textarea><span th:errors="*{description}" class="error"></span>
        <button type="submit">Thêm mới</button>
    </form>
</body>
</html>